<section class="favorites secrion" id="favorites">
    <div class="favorites_container container">
        <h2 class="favorites_title">Some of Our Favorites</h2>
        <p class="favorites_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="favorites_list list cards-set">
            <li class="favorites_item card-item">
                <picture class="favorites_img">
                    <source media="(min-width:1280px)" srcset="
              ./images/fotofood/Desktop/gamburger@1x.png 1x,
              ./images/fotofood/Desktop/gamburger@2x.png 2x
            " />

                    <source media="(min-width:768px)" srcset="
              ./images/fotofood/Tablet/gamburger@1x.png 1x,
              ./images/fotofood/Tablet/gamburger@2x.png 2x
            " />

                    <source media="(max-width:767px)" srcset="
              ./images/fotofood/Mobile/gamburger@1x.png 1x,
              ./images/fotofood/Mobile/gamburger@2x.png 2x
            " />

                    <img class="favorites_photo" src="./images/fotofood/Desktop/gamburger@1x.png" alt="Gamburger"
                        width="223" height="223" />
                </picture>
            </li>
            <li class="favorites_item card-item">
                <picture class="favorites_img">
                    <source media="(min-width:1280px)" srcset="
              ./images/fotofood/Desktop/Pasta@1x.png 1x,
              ./images/fotofood/Desktop/Pasta@2x.png 2x
            " />

                    <source media="(min-width:768px)" srcset="
              ./images/fotofood/Desktop/Pasta@1x.png 1x,
              ./images/fotofood/Desktop/Pasta@2x.png 2x
            " />

                    <source media="(max-width:767px)" srcset="
              ./images/fotofood/Desktop/Pasta@1x.png 1x,
              ./images/fotofood/Desktop/Pasta@2x.png 2x
            " />

                    <img class="favorites_photo" src="./images/fotofood/Desktop/Pasta@1x.png" alt="Pasta" width="223"
                        height="223" />
                </picture>
            </li>
            <li class="favorites_item card-item">
                <picture class="favorites_img">
                    <source media="(min-width:1280px)" srcset="
              ./images/fotofood/Desktop/pizza@1x.png 1x,
              ./images/fotofood/Desktop/pizza@2x.png 2x
            " />

                    <source media="(min-width:768px)" srcset="
              ./images/fotofood/Desktop/pizza@1x.png 1x,
              ./images/fotofood/Desktop/pizza@2x.png 2x
            " />

                    <source media="(max-width:767px)" srcset="
              ./images/fotofood/Desktop/pizza@1x.png 1x,
              ./images/fotofood/Desktop/pizza@2x.png 2x
            " />

                    <img class="favorites_photo" src="./images/fotofood/Desktop/pizza@1x.png" alt="Gamburger"
                        width="223" height="223" />
                </picture>
            </li>
            <li class="favorites_item card-item img_fav">
                <picture class="favorites_img">
                    <source media="(min-width:1280px)" srcset="
              ./images/fotofood/Desktop/chicken@1x.png 1x,
              ./images/fotofood/Desktop/chicken@2x.png 2x
            " />

                    <source media="(min-width:768px)" srcset="
              ./images/fotofood/Desktop/chicken@1x.png 1x,
              ./images/fotofood/Desktop/chicken@2x.png 2x
            " />

                    <source media="(max-width:767px)" srcset="
              ./images/fotofood/Desktop/chicken@1x.png 1x,
              ./images/fotofood/Desktop/chicken@2x.png 2x
            " />

                    <img class="favorites_photo " src="./images/fotofood/Desktop/chicken@1x.png" alt="Gamburger"
                        width="223" height="223" />
                </picture>
            </li>
            <li class="favorites_item card-item img_fav">
                <picture class="favorites_img">
                    <source media="(min-width:1280px)" srcset="
              ./images/fotofood/Desktop/salat@1x.png 1x,
              ./images/fotofood/Desktop/salat@2x.png 2x
            " />

                    <source media="(min-width:768px)" srcset="
              ./images/fotofood/Desktop/salat@1x.png 1x,
              ./images/fotofood/Desktop/salat@2x.png 2x
            " />

                    <source media="(max-width:767px)" srcset="
              ./images/fotofood/Desktop/salat@1x.png 1x,
              ./images/fotofood/Desktop/salat@2x.png 2x
            " />

                    <img class="favorites_photo " src="./images/fotofood/Desktop/salat@1x.png" alt="Salat" width="223"
                        height="223" />
                </picture>
            </li>
            <li class="favorites_item card-item img_fav">
                <picture class="favorites_img">
                    <source media="(min-width:1280px)" srcset="
              ./images/fotofood/Desktop/borshch@1x.png 1x,
              ./images/fotofood/Desktop/borshch@2x.png 2x
            " />

                    <source media="(min-width:768px)" srcset="
              ./images/fotofood/Desktop/borshch@1x.png 1x,
              ./images/fotofood/Desktop/borshch@2x.png 2x
            " />

                    <source media="(max-width:767px)" srcset="
              ./images/fotofood/Desktop/borshch@1x.png 1x,
              ./images/fotofood/Desktop/borshch@2x.png 2x
            " />

                    <img class="favorites_photo " src="./images/fotofood/Desktop/borshch@1x.png" alt="Borshch"
                        width="223" height="223" />
                </picture>
            </li>
        </ul>
    </div>
</section>