.hero-section {
  // position: relative;
  //     top: 50%;
  //     left: 50px;
  
  // justify-content: center;
  // align-items: center;
  // padding-right: 20px;
  // padding-left: 20px;
  // margin-right: auto;
  // margin-left: auto;
  // margin-top: 60px;
  // margin-bottom: 50px;
  padding-top: 60px;
  padding-bottom: 60px;


  @media screen and (min-width: $tablet) {
    // justify-content: space-between;
    // margin-right: 32px;
    display: flex;
    justify-content: center;
      align-items: center;
    margin-top: 0;
    padding-top: 0;
    // padding-right: 32px;
    // padding-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 14px;
      padding-bottom: 0;
    // width: 1280px;
    // padding-right: 16px;
    // padding-left: 16px;
  }

  // @media screen and (min-width: $tablet) {
  //   margin-right: -153px;
  //   margin-right: 32px;
  // }

  // @media screen and (min-width: $desktop) {
  //   margin-right: auto;
  //   margin-right: 166px;
  // }
}

.hero-container{
  // max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__block {
  @media screen and (min-width: $tablet) {
    margin-right: -153px;
    // margin-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
    margin-right: 165px;
  }
}

// .hero__tablet-block{
//     @media screen and (min-width: $tablet) and (max-width: 1200px) {
//         display: flex;
//     }
// }
.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  width: 280px;
  color: $primary-color;
  //   margin-top: 60px;
  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
    line-height: calc(50 / 42);
    width: 537px;
    margin-bottom: 44px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 48px;
    line-height: calc(58 / 48);
    width: 502px;
    margin-bottom: 28px;
  }
}

.hero__text {
  width: 266px;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: currentColor;
  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: calc(24 / 16);
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: calc(24 / 16);
    width: 502px;
    margin-bottom: 40px;
  }
}

.hero__btn {
  max-width: 200px;
  height: 32px;
  background: $green;
  border-radius: 30px;
  padding: 6px 16px;
  border: none;
  color: currentColor;
  transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;

  &:hover,
  &:focus {
    background: $color-green-accent;
  }
}
.picture {
  position: relative;
  margin-top: 89px;

  @media screen and (min-width: $desktop) {
    margin-top: 0;
  }
}
// .hero__picture {
//     position: absolute;
//     position: relative;
//     margin-top: 89px;

//     @media screen and (min-width: $desktop){
//         margin-top: 0;
//     }
// }

.hero__img {
  // position: absolute;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    border-radius: 50%;
    // margin-left: -60%;
    border: 14px solid $yellow;
    max-width: 320px;
    // height: 320px;
  }

  @media screen and (min-width: $desktop) {
    border: 26px solid $yellow;
    min-width: 580px;
    height: 580px;
    // margin-left: 152px;
  }
}

.switch {
  display: none;

  @media screen and (min-width: $tablet) {
    width: 340px;

    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 146px;
    left: -10px;
  }

  @media screen and (min-width: $desktop) {
    width: 598px;
    top: 266px;
    // left: 145px;
  }
}

.arrows {
  @media screen and (min-width: $tablet) {
    width: 28px;
    height: 34px;
    display: flex;
    justify-content: center;
    background: #ffffff;
    // background: tomato;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: none;
    align-items: center;
    transform: rotate(-90deg);

  }

  @media screen and (max-width: 1279px) {
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
  }

  @media screen and (min-width: $desktop) {
    width: 40px;
    height: 48px;
    // display: flex;
    // justify-content: center;
    // background: tomato;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    // border-radius: 8px;
    // border: none;
    // align-items: center;
    // transform: rotate(-90deg);
  }
}

.arrow {
  transform: rotate(-90deg);
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;

  // &:hover,
  // &:focus {
  //   fill: $dark-green;
  //   // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  // }
  @media screen and (min-width: $tablet) {
    width: 12px;
    height: 20px;
  }
  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 29px;
    &:hover,
      &:focus {
        fill: $dark-green;
        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}
}