.offerings {
  padding-top: 0;
  padding-bottom: 0;

  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(../images/offerings/bg@1x_sm.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/offerings/bg@2x_sm.png);
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/offerings/bg@1x_md.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/offerings/bg@2x_md.png);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/offerings/bg@1x_lg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/offerings/bg@2x_lg.png);
    }
  }

  &__content {
    padding-top: 41px;
    padding-bottom: 60px;

    @media screen and (min-width: $tablet) {
      margin-top: -170px;
      padding-top: 150px;
      padding-bottom: 100px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: -150px;
      display: flex;
      gap: 90px;
      padding-top: 177px;
      padding-bottom: 43px;
      align-items: center;
    }
  }
}

.offerings__group {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.offerings__picture {
  display: block;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.offerings__img {
  margin-right: auto;
  margin-left: auto;
}

.offerings__thumb {
  margin-bottom: 28px;
  @media screen and (min-width: $tablet) {
    width: 526px;
    margin-bottom: 40px;
  }
}

.offerings__title {
  margin-bottom: 28px;
  text-align: left;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.offerings__desc {
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.19;
  }

  @media screen and (min-width: $tablet) {
    line-height: 1.5;
  }
}

.offerings__list {
  margin-bottom: 28px;
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.offerings__item {
  &:first-child {
    margin-bottom: 28px;
  }

  &::before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 8px;
    background-color: $bgc-white;
  }

  @media screen and (min-width: $tablet) {
    width: 252px;

    &:first-child {
      margin-bottom: 0;
      margin-right: 116px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:first-child {
      margin-right: 67px;
    }
  }
}

.offerings__delivery::before {
  background-image: url(../images/offerings/delivery.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offerings__order::before {
  background-image: url(../images/offerings/order.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offerings__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 16px;
}

.offerings__text {
  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.5;
  }
}

.offerings__btn {
  max-width: 154px;
  height: 40px;
  padding: 10px 22px;

  background: $white;
  border: 2px solid $dark-green;
  border-radius: 30px;

  margin-right: 24px;

  &:hover {
    @media screen and (min-width: $desktop) {
      border: 2px solid $border-green;
    }
  }
}

.offerings__link {
  @extend %link;
  position: relative;
  line-height: 1.43;
  color: $color-black;
  margin-right: 8px;

  &__icon-link {
    position: absolute;
    top: 7px;
    left: 73px;
    color: $color-black;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
